name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Build Docker Images
      run: docker-compose build

    - name: Run Containers
      run: docker-compose up -d

    - name: Security Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: backend:latest

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Push Images
      run: |
        docker tag backend yourdocker/backend:latest
        docker push yourdocker/backend:latest
