name: CI-CD Pipeline

on:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Verify files
      run: ls -la

    - name: Build images
      run: docker compose build

    - name: Start containers
      run: docker compose up -d

    - name: Wait for backend
      run: sleep 10

    - name: Health check
      run: curl http://localhost:5000/health
